<% layout('layouts/boilerplate') %>
<div id="map"></div>
<div class="container-lg">
  <h1 class="my-5 text-center">All available vacation rentals</h1>
  <div class="row align-items-center justify-content-center">
    <% for (let rental of rentals) { %>
    <div class="col-sm-6 col-md-4 col-xl-3 mb-2 p-3">
      <div class="card">
        <img
          src="<%=rental.images[0].thumbnailBig%>"
          class="card-img-top p-3"
          alt="..."
        />
        <div class="card-body text-truncate text-center p-2">
          <h5 class="card-title mb-1 text-truncate"><%=rental.title%></h5>
          <h6 class="card-subtitle mb-4 text-muted text-truncate">
            <%=rental.location%>
          </h6>

          <p class="card-text mb-3 text-truncate"><%=rental.description%></p>
          <p class="card-text mb-2 text-muted">From $<%=rental.price%>/night</p>
          <a
            href="/rentals/<%=rental._id %>"
            class="btn btn-outline-info mb-3"
            >See details</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css"
  rel="stylesheet"
/>
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
  const rentals = {features: <%-JSON.stringify(rentals)%>}
</script>

<script src="/javascripts/clusterMap.js"></script>
