<% layout('layouts/boilerplate') %>


<style type="text/css">
    textarea {
      vertical-align: top;
    }
  </style>

<% for( let img of rental.images ) { %>
    <img src="<%= img.detailsPage%> " alt="">
<% } %>
<h2><%= rental.title %></h2> 
<h2><%= rental.location %></h2> 
<h3>Hosted by: <%= rental.owner.username %></h2> 
<h3><%= `$${rental.price}/night`%></p>
<p><%= rental.description %></p>
<div>
    <a href="/rentals">Back To Index</a>
</div>
<% if (currentUser &&rental.owner.equals(currentUser._id)) { %>
 <div>
    <a href="/rentals/<%=rental._id%>/edit"><button>Edit</button></a>
    <form action="/rentals/<%=rental._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</div>
<% } %>

<div id='map' style='width: 400px; height: 300px;'></div>

<h2><%=rental.title%> Reviews</h2>
<% for(let review of rental.reviews) { %>
 <div>
     <p><%=review.rating%></p>
     <p><%=review.body%></p>
     <p>By: <%=review.owner.username%></p>
     <% if (currentUser &&review.owner.equals(currentUser._id)) { %>
        <form action="/rentals/<%=rental._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
     <% } %>     
 </div>
<% } %>
 
<% if (currentUser) { %>
<h2>Leave a Review</h2>
<div>
<form action="/rentals/<%=rental._id%>/reviews" method="POST">
    <div>
        <label for="rating">Rating</label>
        <input type="range" name="review[rating]" id="rating" value="5" min="0.5" max="5" step="0.5" oninput="this.nextElementSibling.value = this.value">
        <output>5</output>

    </div>
    <div>
    <label for="body">Review</label>
        <textarea name="review[body]" id="body" cols="30" rows="3" required></textarea>
    </div>
    <button>Submit Review</button>    
</form>
</div>
<% } %> 
<script>const mapToken = "<%-process.env.MAPBOX_TOKEN%>"
const rental = <%-JSON.stringify(rental)%>
</script>

<script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />

<script src="/showPageMap.js"></script>