<% layout('layouts/boilerplateDetails') %>
<div class="container-fluid my-4 mb-3 px-4 px-md-2">
  <div class="row no-gutters justify-content-center">
    <div class="col-md-5 col-xl-4 pe-md-2">
      <div class="card">
        <div class="demo">
          <ul id="lightSlider">
            <% for(let img of rental.images) { %>
            <li data-thumb="<%=img.thumbnail%>">
              <img src="<%=img.detailsPage%>" />
            </li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="card mt-2">
        <div class="about">
          <h3 class="mt-3 mb-0 text-center fw-bold fs-1"><%= rental.title %></h3>
          <p class="text-center mt-0 mb-2 fs-5"><%= rental.location %></p>
          <p class="text-center mb-0">$<%= rental.price %>/night</p>
        </div>
        <%  if( currentUser && rental.owner.equals(currentUser._id))  {%>
          <div class="text-center mt-2">
              <a class="btn btn-outline-warning" href="/rentals/<%=rental._id%>/edit">Edit</a>
              <form class="d-inline" action="/rentals/<%=rental._id%>?_method=DELETE" method="POST">
                  <button class="btn btn-danger">Delete</button>
              </form>
          </div>
          <% }else{ %>
        <div class="buttons text-center mt-2">
          <button class="btn btn-outline-info contact">Contact Host</button>
          <button class="btn btn-info btn-long reserve">Reserve</button>
          <%#
          <button class="btn btn-light wishlist">
            <i class="fa fa-heart"></i>
          </button>
          %>
        </div>
        <% } %> 
        <hr class="my-3" />

        <% let tomorrowDate = new Date(new Date().setDate(new Date().getDate() +
        1));%>
        <div class="row justify-content-center">
          <div class="px-5 pb-2">
            <div class="product-description">
              <div
                class="d-flex flex-row align-items-center justify-content-center mb-4"
              >
                <i class="fa fa-calendar-check-o"></i>
                <span class="ms-1 text-muted"
                  >Available from <%= tomorrowDate.toLocaleDateString("en-US",
                  {dateStyle: "medium"}) %>
                </span>
              </div>

              <span class="fw-bold">Description</span>
              <p class="mt-2"><%=rental.description%></p>
              <div class="bullets">
                <div class="d-flex align-items-center">
                  <span class="dot"></span>
                  <span class="bullet-text">Fast Wifi</span>
                </div>
                <div class="d-flex align-items-center">
                  <span class="dot"></span>
                  <span class="bullet-text">Streaming Enabled TV</span>
                </div>
                <div class="d-flex align-items-center">
                  <span class="dot"></span>
                  <span class="bullet-text">Room Climate Control</span>
                </div>
              </div>
              <div class="mt-4 mb-2">
                <span class="fw-bold">Host</span>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fa-regular fa-circle-user fa-xl"></i>
                <div class="d-flex flex-column ms-1 comment-profile">
                  <span class="username"><%= rental.owner.username %> </span>
                  <%#<small class="numOfProperties">No of properties</small>%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-2" id="map">
        <div id="map"></div>
      </div>
    </div>

    <div class="col-md-5 col-xl-4 mt-2 mt-md-0 ps-md-0 pe-md-4">
      <div class="card px-5 pt-5 pb-4">
        <span class="fw-bold mb-1">Reviews</span>       
        <hr />
        <div class="comment-section">
          <div class="">
            <% if(rental.reviews.length === 0) {%>
            <p class="text-muted">
              There are no reviews for this property yet.
            </p>
            <% } %>
              <% for(let review of rental.reviews) { %>
              <div class="card-nopadding mb-4">
                  <div class='stars-wrapper'>
                    <% for( let i = 0; i < review?.rating; i++ ) { %>
                        <div class='star-filled'>&#9733;</div>
                    <% } %>
                    <% for( let i = 0; i < 5 - review?.rating; i++ ) { %>
                        <div class='star-empty'>&#9734;</div>
                    <% } %>
                </div>
                <span class="fs-6"><%=review.body%></span>
                <%  if( currentUser && review.owner.equals(currentUser._id))  {%>
                  <form action="/rentals/<%=rental._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                      <button class="btn btn-danger btn-discreet">Delete</button>
                  </form>
                  <% } %>
                <div class="text-muted">
                  <small>-by <%=review.owner.username%></small>
                </div>
              </div>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <% if(currentUser){ %>
      <div class="card mt-2 px-5 py-5">
        <span class="fw-bold">Leave a Review</span>
        <hr />
        <form
          action="/rentals/<%=rental._id%>/reviews"
          method="POST"
          class="needs-validation"
          novalidate
        >
        <div class="star-container">
          <div class="star-widget mb-2 mt-1">
            <input type="radio" name="review[rating]" id="rate-5" value="5" required>
            <label for="rate-5" class="fas fa-star"></label>   
            <input type="radio" name="review[rating]" id="rate-4" value="4">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="review[rating]" id="rate-3" value="3">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="review[rating]" id="rate-2" value="2">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="review[rating]" id="rate-1" value="1">
            <label for="rate-1" class="fas fa-star"></label>   
            <div class="invalid-feedback">
              Please choose a rating.
            </div>               
            </div>          
          </div>
          <div class="mb-3">
            <label class="form-label" for="body">Review</label>
            <textarea
              class="form-control"
              name="review[body]"
              id="body"
              cols="30"
              rows="3"
              required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">
              Please write your review.
            </div>
          </div>
          <button class="btn btn-outline-info contact">Submit</button>
        </form>
      </div>
      <% } else { %>
      <div class="card mt-2 px-5 py-5">
        <div class="card-body">
         <span class="fw-bold">Log In to Review</span>
         <hr />
          <form action="/loginRefresh" method="POST" class="needs-validation" novalidate>
            <div class="px-2 px-sm-5 px-md-2 px-xl-3">
            <div class=>
              <label class="form-label" for="username"></label>
                  <input class="form-control" type="text" id="username" name="username" placeholder="Username" required>
                  <div class="invalid-feedback">
                    Username is required.
                  </div>
              </div>    
              <div class="">
                  <label class="form-label" for="password"></label>
                  <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
                  <div class="invalid-feedback">
                    Password is required.
                  </div>
              </div>
              <div class="mt-4 mb-0 d-grid col-9 mx-auto">
              <button class="btn btn-outline-info">Login</button>    
              </div>
              <div class="mt-4 mb-0 d-grid mx-auto">
              <span class="fw-bold">New User?</span>
              <a class="" href="/register">Register</a>
              </div>

            </div>
          </form>
        </div>
        </div>    
      </div>
      <% } %> 
    </div>
  </div>
</div>
