<% layout('layouts/boilerplate') %>

<style type="text/css">
  textarea {
    vertical-align: top;
  }
</style>

<form
  action="/rentals/<%=rental._id%>?_method=PATCH"
  method="POST"
  enctype="multipart/form-data"
>
  <div>
    <label for="title">Title:</label>
    <input
      type="text"
      id="title"
      name="rental[title]"
      value="<%=rental.title%>"
      required
    />
    <label for="price">Price:</label>
    <input
      type="number"
      id="price"
      name="rental[price]"
      min="10"
      max="999"
      value="<%=rental.price%>"
      required
    />
  </div>
  <div>
    <label for="location">Location:</label>
    <input
      type="text"
      id="location"
      name="rental[location]"
      value="<%=rental.location%>"
      required
    />
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea
      type="text"
      id="description"
      name="rental[description]"
      cols="30"
      rows="5"
      minlength="5"
      maxlength="200"
      required
      accept=".png, .jpg, .jpeg"
    >
    <%=rental.description%>
    </textarea>
  </div>
  <div>
    <label for="image">Add More Images:</label>
    <input type="file" id="image" name="image" multiple />
  </div>
  <div>
    <% rental.images.forEach(function(img, i) { %>
    <img src="<%=img.thumbnail%> " alt="" />
    <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%=img.fileName%>">
    <label for="image<%=i%>">Delete?</label>
    <% }) %>
  </div>
  <button>Update Rental</button>
</form>
<a href="/rentals/<%=rental._id%>">Cancel</a>
